.modal {
  position: fixed;
  z-index: 1000;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.modal-header {
  position: relative;
  font-size: 2rem;
  padding: 0.25em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: steelblue;
  color: white;
}
.modal-title {
  font-weight: 600;
}
.close {
  position: absolute;
  top: 15px;
  right: 5px;
  font-size: 2.25rem;
  padding: 0.1em;
  cursor: pointer;
  background-color: rgb(168, 4, 4);
  border-radius: 50%;
  color: white;
}
.modal-body {
  min-height: 50vh;
  max-height: 60vh;
  width: 100%;
  overflow-y: auto;
}
.modal-footer {
  display: flex;
  gap: 5px;
  justify-content: end;
  border-top: 2px;
  padding: 0.25em 1em 1em 0.25em;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media screen and (min-width: 400px) {
  .modal-content {
    width: 85vw;
  }
}

@media screen and (min-width: 800px) {
  .modal-content {
    width: 65vw;
  }
}
@media screen and (min-width: 1000px) {
  .modal-content {
    width: 50vw;
  }
}
